:root {
    --dark_gray: #5C5C5C;
    --gray: #8B8B8B;
    --light_gray: #B9B9B9;
    --lighter_gray: #E8E8E8;
    --sketchpad_red: #D5492B;
    --background-blue: #2BB7D5;
    --logo-yellow: yellow;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--sketchpad_red);
}

header,
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: var(--logo-yellow);
    background-color: var(--sketchpad_red);
}

footer {
    margin-top: auto;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--background-blue);
    border: 10px solid yellow;
    border-radius: 16px;
    margin: 0 50px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

button {
    color: var(--logo-yellow);
    background-color: var(--sketchpad_red);
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.active {
    color: var(--sketchpad_red);
    background-color: var(--logo-yellow);
}

#slider-value {
    text-align: center;
}



#grid {
    display: grid;
    height: 500px;
    width: 500px;
    border: 20px solid var(--sketchpad_red);
    border-radius: 10px;
}

.grid-element {
    /* to prevent user from selecting grid elements when sketching */
    user-select: none;
    border: 1px solid var(--gray);
    background-color: var(--lighter_gray);
}